.hero {
	// position: relative;
	// display: flex;
	// justify-content: space-around;
	// align-items: center;
	// width: 100%;
	// height: 80%;

	.heroBtn {
		position: absolute;
		height: 80px;
		width: 80px;
		right: 58%;
		// @apply absolute h-20 w-20 right-[58%];

		.letsChat {
			animation: blink 1s alternate infinite;
		}
	}
}
@keyframes blink {
	0% {
		width: 75px;
	}

	100% {
		width: 80px;
	}
}

.contactLinks {
	position: absolute;
	top: 14rem;
	left: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	// @apply absolute top-56 left-8 flex flex-col gap-8;
}

@media screen and (max-width: 1300px) {
	.hero {
		flex-direction: column-reverse;
		text-align: center;
		justify-content: center;
		height: 70vh;
		padding: 0 8px;
		// @apply px-2;

		h1 {
			font-size: 1.875rem;
			line-height: 2.25rem;
			margin-bottom: 0;
			// @apply text-3xl mb-0;

			.br {
				display: none;
			}
		}
		span {
			font-size: 0.875rem;
			line-height: 1.25rem;
			// @apply text-sm;
		}

		p {
			font-size: 0.875rem;
			line-height: 1.25rem;
			margin-top: 4px;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			// @apply text-sm mt-1 px-2;
		}

		.heroImg {
			img {
				width: 285px;
			}
		}

		.heroBtn {
			right: 42%;
			height: 56px;
			width: 56px;
			// @apply h-14 w-14;

			.letsChat {
				height: 56px;
				width: 56px;
				// @apply h-14 w-14;
			}
		}
	}
	.contactLinks {
		left: 24px;
		// @apply left-6;
	}
}
